---
import Picture from "@/components/Ui/Picture.astro";

const { picture, title, description, specSheets } = Astro.props;
---

<section class="flex flex-col gap-4 items-center md:flex-row-reverse">
  <Picture src={picture.src} alt={picture.alt} portrait={picture.portrait} />
  <article class="flex flex-col gap-4 w-full md:gap-6 lg:gap-8">
    <section class="flex flex-col gap-2 md:gap-4">
      <h1 class="font-manrope font-semibold text-3xl text-orange-9 md:text-4xl">
        {title}
      </h1>
      <h2 class="font-light text-2xl">
        {description}
      </h2>
    </section>
    {
      specSheets && (
        <section
          class="grid gap-2 md:gap-4"
          style={{
            gridTemplateColumns: `repeat(${specSheets.length}, minmax(0,1fr))`,
          }}
        >
          {specSheets?.map(
            (specSheet: { title: string; descriptions: string[] }) => {
              const { title, descriptions } = specSheet;
              return (
                <article class="flex flex-col gap-2">
                  <span class="font-manrope font-bold text-sm text-orange-9 md:text-base">
                    {title}
                  </span>
                  <section class="flex flex-col break-all">
                    {descriptions.map((description: string) => (
                      <p class="font-light md:text-lg">{description}</p>
                    ))}
                  </section>
                </article>
              );
            }
          )}
        </section>
      )
    }
  </article>
</section>
